.box_div {
  min-height: fit-content;
  width: 40% !important;
  height: 80vh !important;
  margin: 30px;
  gap: 50px !important;
}

@media (max-width: 1000px) {
  .box_div {
    min-height: fit-content;
    height: 40vh !important;
    border-radius: 50px !important;
  }
}
